body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
    min-height: 100%;
    background-image: url("../img/Fondo_iue.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;

}

ul.b {
    list-style-type: disclosure-closed;
    ;

}

ul li {


    color: rgb(3, 3, 3);
    margin: 5px;
}


ul {
    font-size: 14px;
}


.fotografia {

    position: absolute;
    left: calc(90% - 581px/2 + 74.5px);
    height: 20%;
    float: right;
    width: 10%;
    background: url(.svg);
    mix-blend-mode: normal;
}

.logoiue {

    position: absolute;
    width: 10%;
    height: 20%;
    left: 55px;
    top: 13px;

}


.nombre {
    position: absolute;
    width: calc(100% - 581px/2 + 74.5px);
    /* height: 168px; */
    left: calc(21% - 581px/2 + 74.5px);
    top: calc(65% - 59px/2 - 421.5px);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 0px #ED7A00;

}

.presentacion {
    /* Rectan_presentacion */


    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 581px/2 + 74.5px);
    height: 332px;
    left: calc(21% - 581px/2 + 74.5px);
    top: calc(76% - 59px/2 - 421.5px);
    border-radius: 20px;

}


.hpresentacion {

    color: rgb(255, 149, 0);
    text-shadow: 2px 3px 1px rgb(14, 14, 14);
    text-align: center;
    text-decoration-line: underline;


}

.tpresentacion {

    text-align: justify;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px black;

}

.repositorio {

    /* Rectan_repositorios */


    box-sizing: border-box;

    position: absolute;
    width: 30%;
    height: auto;
    left: calc(18% - 581px/2 + 74.5px);
    top: calc(115% - 59px/2 - 421.5px);
    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
    font-size: 12px;
}


.hrepositorio {
    text-align: justify;
    width: 314px;
    padding: 12px;
    font-size: 12px;


}

.licontenido {


    color: rgb(3, 3, 3);
    margin: 17px;
    font-size: 19px;
}

.trepositorio {
    color: #030303;
    font-size: 16px;

}

.prepositorio {
    font-size: 16px;
    color: #000000;
    text-align: justify;
    display: inline;
}



.contenido {
    /* Rectan_Contenido */


    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: auto;
    left: calc(60% - 581px/2 + 74.5px);
    top: calc(115% - 59px/2 - 421.5px);
    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
}



.detalle {
    position: absolute;
    width: calc(100% - 581px/2 + 74.5px);
    height: 63px;
    /* left: 73px; */
    /* top: 1032px; */
    left: calc(18% - 581px/2 + 74.5px);
    top: calc(145% - 59px/2 - 421.5px);
    font-family: 'Aref Ruqaa';
    font-style: initial;
    font-weight: 500PX;
    font-size: 18px;
    /* line-height: 120px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* text-decoration-line: underline; */
    color: #d9d9d9;
    border-bottom: 4px solid #000000;
    border-radius: 180px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}




.reclogo {
    /* logo_iue 1 */

    width: 320px;
    height: 148px;
    left: 46px;
    top: 8px;
}


.column {
    float: left;
    width: 49%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.hdiseno {

    box-sizing: border-box;
    position: absolute;
    width: 30%;
    top: auto;
    left: calc(18% - 581px/2 + 74.5px);
    top: calc(175% - 59px/2 - 421.5px);

    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
}

.hconsulta {

    position: absolute;
    width: 30%;
    height: auto;
    left: calc(60% - 581px/2 + 74.5px);
    top: calc(175% - 59px/2 - 421.5px);
    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
}

.htaller {

    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: auto;
    left: calc(18% - 581px/2 + 74.5px);
    top: calc(205% - 59px/2 - 421.5px);
    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
}

.hretos {
    /* Rectan_retos */

    position: absolute;
    width: 30%;
    height: auto;
    left: calc(60% - 581px/2 + 74.5px);
    top: calc(205% - 59px/2 - 421.5px);
    ;
    background: #be712c;
    border: 4px solid #000000;
    border-radius: 20px;
}



footer {
    /* Rectan_piepagina */

    background-color: rgb(222, 104, 20);
    position: absolute;
    bottom: 0;
    width: calc(110% - 581px/2 + 74.5px);
    height: 45px;
    color: white;
    top: 1785px;
    left: calc(14% - 581px/2 + 74.5px);
    top: calc(250% - 59px/2 - 421.5px);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #000000;

}

.carrera {
    /* Ingenieria de sistemas */
    color: #000000;
    text-transform: capitalize;
    margin-left: 1em;

    /* height: 168px; */
    left: calc(7% - 581px/2 + 74.5px);
    top: calc(45% - 59px/2 - 421.5px);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 22px;
    text-align: left;

}

.universidad {
    /* Ingenieria de sistemas */
    color: #000000;
    text-align: right;
    text-transform: capitalize;

    /* height: 168px; */
    left: calc(20 - 581px/2 + 74.5px);
    top: calc(45% - 59px/2 - 421.5px);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 22px;




}

.tdiseno {
    font-size: 22px;
    text-align: center;

}

.tconsulta {
    font-size: 22px;
    text-align: center;

}

.ttaller {
    font-size: 22px;
    text-align: center;

}

.treto {
    font-size: 22px;
    text-align: center;

}