
  body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;

  } 

h1
{
text-align: center;
text-shadow: 2px 2px 3px black;
  }

  h2
{

text-shadow: 2px 2px 3px black;
  }

  .acerca{
	text-align: justify;
	width: calc(100% - 1px);
  }


  .referencia{

	width: calc(33.33% - 20px);
  }


/* Estilos responsive para pantallas pequeñas */

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}
.contenedor-imagen {
	max-width: 100%;
	height: auto;
  }
  
  .contenedor-imagen img {
	width: 100%;
	height: auto;
  }

  header {
	background-color: #285288;
	color: #fff;
	padding: 20px;
  }
  
  .contenedor-imagenes {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .contenedor-imagenes img {
	max-width: 100%;
	height: auto;
  }
  
  @media only screen and (max-width: 600px) {
	.contenedor-imagenes {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.contenedor-imagenes img {
	  margin-bottom: 10px;
	}
  }
  
  li{
	color: black;
  }