body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;

}


.nombre {

    position: absolute;
    left: 50%;
    right: 0%;
    top: 3.42%;
    bottom: 90.43%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 41.8446px;
    line-height: 150%;
    /* identical to box height, or 63px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;

    color: #4E626D;

}

.secarrera {


    box-sizing: border-box;
    position: absolute;
    width: calc(50% - 581px/2 + 74.5px);
    height: 333px;
    left: calc(30% - 581px/2 + 74.5px);
    top: calc(73% - 59px/2 - 421.5px);
    border-radius: 20px;

}

.carrera {


    position: absolute;
    width: calc(203% - 581px/2 + 74.5px);
    /* height: 168px; */
    left: calc(145% - 59px/2 - 421.5px);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    top: inherit;
}

.hcarrera {

    text-align: justify;
    color: #4e626d;
    text-shadow: 2px 2px 3px black;

}

.ar1{
    position: absolute;
    left: 7%;
    right: 7.71%;
    top: 37.76%;
    bottom: 23.45%;
    
}
.s1 {
    /* Vector */


    position: absolute;

    left: 2.15%;
    right: 78.71%;
    top: -1.76%;
    bottom: -19%;

    background: #86A7BB;
}

.h1 {
       position: absolute;
    width: 340px;
    left: 6.96%;
    right: 74.72%;
    top: 1.61%;
    bottom: 1.89%;
    background: #4E626D;
}

.fotoperfil {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50px;
    top: 13px;;
}

.footeracerca {
    position: absolute;
    left: 29.24%;
    right: 3.06%;
    top: 19.34%;
    bottom: 75.27%;

    background: #4E626D;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}

.hacerca {
    color: #ffff;
    line-height: 0;

}

.articacerta{
    position: absolute;
left: 29.1%;
right: 3.06%;
top: 22.88%;
bottom: 61.82%;
height: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16.6582px;
line-height: 150%;
/* or 25px */

letter-spacing: -0.011em;

color: #000000;
}

.pacerca{
    text-align: justify;
}


.footerhabilidades{
    position: absolute;
    left: 29.1%;
    right: 3.06%;
    top: 38.87%;
    bottom: 56.64%;
    
    background: #4E626D;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;



}

.shabilidades{
    box-sizing: border-box;
    position: absolute;
    width: calc(50% - 581px/2 + 74.5px);
    height: 333px;
    left: calc(30% - 581px/2 + 74.5px);
    top: calc(73% - 59px/2 - 421.5px);
    border-radius: 20px;
  }
.hhabilidades{
    color: #ffff;
    line-height: 0;
    text-align: center;
     font-size: 24px;
}

.artihabilidades{
    position: absolute;
    left: 29.1%;
    right: 3.06%;
    top: 45%;
    bottom: 61.82%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.6582px;
    line-height: 150%;
    /* or 25px */
    
    letter-spacing: -0.011em;
    
    color: #000000;

}

.cirhab {
    height: 16px;
    width: 16px;
    background-color: #1fa7cf;
    border-radius: 50%;
    display: inline-block;
  }
  .cirhab2 {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
  }

  .column {
    box-sizing: border-box;
    float: left;
    width: 15%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
  }

  #contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #principal {
   	    width: 30%;
    text-align: center;
    
  }
  #sidebar {
   width: 69%;
    font-size: 16.5px;
    color:floralwhite;  
    text-shadow: 2px 1px 2px black;
  }


  .footereduca {
    position: absolute;
    left: 29.24%;
    right: 3.06%;
    top: 43.34%;
    bottom: 50.27%;
    background: #4E626D;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}

.heduca {
    color: #ffff;
    line-height: 0;

}

.articeduca{
    position: absolute;
left: 29.1%;
right: 3.06%;
top: 50.88%;
bottom: 61.82%;
height: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16.6582px;
line-height: 150%;
/* or 25px */

letter-spacing: -0.011em;

color: #000000;
}

.pacerca{
    text-align: justify;
}

.footrefe {
    position: absolute;
    left: 29.24%;
    right: 3.06%;
    top: 69.34%;
    bottom: 24.27%;
    background: #4E626D;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.hrefe {
    color: #ffff;
    line-height: 0;

}

.articrefe{
    position: absolute;
    left: 29.1%;
    right: 3.06%;
    top: 73.88%;
    bottom: 61.82%;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.6582px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #000000;
}

.pacerca{
    text-align: justify;
}
.footerexp{
    position: absolute;
    left: 29.24%;
    right: 3.06%;
    top: 96.34%;
    bottom: -2.73%;
    background: #4E626D;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.hexp{
    color: #ffff;
    line-height: 0;

}

.articexp{
    position: absolute;
    left: 29.1%;
    right: 3.06%;
    top:101.88%;
    bottom: 61.82%;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.6582px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #000000;
}

.pacerca{
    text-align: justify;
}


#contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
   }
   
   #lateral {
    width: 50%;  /* Este será el ancho que tendrá tu columna */
   
    float:right; /* Aquí determinas de lado quieres quede esta "columna" */
   }
   
   #principal2 {
    width: 50%;
    float: left;
    

   }
   /* Para limpiar los floats */
   .clearfix:after {
     content: "";
     display: table;
     clear: both;
   }

   .pexp{
    font-size: 12px;
    text-align: justify;
   }